@charset "UTF-8";

body{
    background-color: #beb92e83;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: #807C1D;
}
h1#pri{
    text-align: center;
    background-color:  #E6E035(209, 79, 40, 0.164);
    color: black;
}
h2{
    color: #869c23
}

.basico{
    color: #869c23;
}

.intermediario{
    color: #c5991f;
}

.avançado{
    color: #b32424;
}
.destaque{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}